/vector/Debug
/vector/vector/Debug
/temp
*_adtfProp.h
*_adtfTools.h
*.bin
*.exe
*.ilk
*.log
*.orig
*.tlog
*.pdb
*.pyc
*.sdf
*.suo
/.vs
/vector/.vs
*.ipch
*.opensdf
*.vcxproj.user
*.obj
*.pch
*.CopyComplete
*.lastbuildstate
